@using AspNetCoreIdentity.Extensions
@{
    ViewData["Title"] = "Secret";
}
<h1>@ViewData["Title"]</h1>

<p>This is a SECRETE page!!!</p>

@{ 
    if(this.IfClaim(claimName: "Produtos",claimValue: "Adicionar"))
    {
        <p>Você só verá isso se tiver permissão para adicionar!</p>
    }
}

<div>
    @Html.ActionLink(linkText: "Secret", actionName: "Secret").IfClaimShow(context: Context, claimName: "Produtos", claimValue: "Adicionar")
</div>

<div>
    <a href="#" class="btn btn-danger @Html.Raw(this.IfClaimShow(claimName: "Produtos", claimValue: "claimNaoImplementada"))">Excluir</a>
    <a href="#" class="btn btn-danger @Html.Raw(this.IfClaimShow(claimName: "Produtos", claimValue: "Excluir"))">Excluir</a>
</div>