@model ErrorViewModel
@{
    ViewData["Title"] = Model?.Titulo ?? "Errrrrrrrrrrou";
}

@if (Model == null)
{
    <p>
        Oooops!!!
    </p>
}
else
{
    <p>
        @Model.ErrorCode
    </p>
    <p>
        @Model.Titulo
    </p>
    <p>
        @Model.Mensagem
    </p>
}

